<h1>Listing events</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr> 
  </thead>
  
  <tbody>
    <%= render @events %>
  </tbody>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
