<div class="row">
  <div class="span6 offset3">
    <div class="well">
      <p>
        <h3><%= @event.description %></h3>
      </p>
      <p>
        Owner: <%= @event.user.name %>
      </p>
      <% if current_user == @event.user %>
        <%= link_to 'Edit', edit_event_path(@event) %> |
      <% end %>
      <%= link_to 'Back', events_path %>
    </div>
  </div>
</div>

