<div class="row">
  <div class="span6 offset3">
    <div class="well">
      <p>
        <%= @event.description %>
      </p>
      <%= link_to 'Edit', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path %>
    </div>
  </div>
</div>

